
<h1>@ViewBag.BMIResult</h1>
<form asp-action= "Index">
<label> Nhập Weight</label>
<input type="text" name="Weight">
<label> Nhập Height</label>
<input type="text" name="Height">
<input type="submit" value=" Gửi dữ liệu">
</form>