<h1> @ViewBag.infoScore</h1>
<h2> @ViewBag.ScoreResult</h2>
<form asp-action = "Index"> 
    <label> Nhập Điểm A: </label>
    <input type="text" name="ScoreA">
    <label> Nhập điểm B: </label>
    <input type="text" name="ScoreB">
    <label> Nhập điểm C: </label>
    <input type="text" name="ScoreC">
    <input type="submit" value=" Gửi dữ liệu">
</form>